#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

#navbar{
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


dialog{
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}


i:hover{
    cursor: pointer;
    color: gray;
}

button {
    cursor: pointer;
}